<section id="about">
    <img id="fotoCv" src="../../../assets/img/FotoCV.jpg" alt="FotoMaxi">
    <div class="row">
        <p id="nombre" class="col-4">
           <b> Maximiliano Emmanuel Pisano<br /></b>
            Full Stack Developer Jr
        </p>
        <h3 class="col-4">Acerca de...</h3>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <p>
            Soy desarrollador Web en el ministerio de Seguridad de la Provincia de Buenos Aires desde hace 7 años.
            Orientando siempre a utilizar nuevas tecnologías, reforzar conocimientos y enfrentar desafíos.
        </p>
    </div>
</section>
