<section id="edu">
    <div class="container">
        <h3>Educación</h3>
        <div class="row">
            <p class="col-6 col-auto">
                Febrero 2008 - Febrero 2011
            </p>
            <p class="col-6 col-auto">
                Licenciatura en Sistemas (Universitario/Incompleto) <br />
                Universidad Nacional de La Plata
            </p>
        </div>
        <div class="row">
            <p class="col-6 col-auto">
                Enero 2021 - Marzo 2021
            </p>
            <p class="col-6 col-auto">
                Programación JavaScript (Certificación)<br />
                Fundación Telefónica Movistar
            </p>
        </div>
        <div class="row">
            <p class="col-6 col-auto">
                Octubre 2022 - En curso
            </p>
            <p class="col-6 col-auto">
                Curso Inglés Nivel III<br />
                CAAEP (Centro de Altos Estudios en Especialidades Policiales)
            </p>
        </div>
    </div>
</section>