<section id="edu">
    <div class="container">
        <h3>Educación</h3>
        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" routerLink="/nuevaedu" *ngIf="isLogged">
                Nueva Educación
            </button>
        </div>
        <table class="table">
            <tbody>
                <tr  *ngFor="let Educacion of edu" >
                    <td class=".text-light"><b>{{Educacion.periodoEdu}}</b></td>
                    <td class=".text-light"><b>{{Educacion.nombreEdu}}</b><br />{{Educacion.descripcionEdu}}</td>
                    <td *ngIf="isLogged" class=".text-light"><button class="btn btn-outline-light" routerLink="/editedu/{{Educacion.id}}"><i class="fa fa-pencil-square" aria-hidden="true"  ></i> Editar</button></td>
                    <td *ngIf="isLogged" class=".text-light"><button class="btn btn-outline-light" (click)="delete(Educacion.id)"><i class="fa fa-trash" aria-hidden="true"></i> Borrar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>