main{
    background-image: radial-gradient(79.43% 251.58% at 23.18% 73.07%, #040477 0, 
    #1212ad 55.41%, #1717ff 70.72%, #0434bb 79.34%, #032faa 85.23%, #0101df 92.56%, #1212ad 100%
    );
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    margin: 0 70;
}