footer{
    padding: 10px;
    height: 100px;
    width: 100%;
    margin-top: -70px !important;
    background-color: black;
    color: #ffffffb0;
    text-align: center;
}

p{
    padding-top: 25px;
}
