#banner{
    text-align: center;
    position: inherit;
    margin-top: 115px;
    background-image: url("../../../assets/img/banner.png");
    height: 465px;
}

#banner > h3{
    text-align: center;
}