<section id="xp">
    <div class="container">
        <h3>Experiencia</h3>
        <div class="row">
            <p class="col-6 col-auto">
                Septiembre 2011 - Mayo 2016
            </p>
            <p class="col-6 col-auto">
                <b>Opedador telefónico en Central de Atención Telefónica de Emergencias 911 PBA</b>
                Atención telefónica de llamadas de emergencia.
            </p>
        </div>
        <div class="row">
            <p class="col-6 col-auto">
                Mayo 2016 - Abril 2021
            </p>
            <p class="col-6 col-auto"> 
                <b>Personal de área Sistemas e Informática en Central de Atención Telefónica de Emergencias 911 PBA</b>
                Realización de tareas referidas a soporte técnico (Instalación de PCs, Instalación y
                mantenimiento de SO y programas, limpieza de componentes de PCs de escritorio,
                mantenimiento e instalación de impresoras, armado de redes domésticas en las
                diferentes áreas). Armado y mantenimiento de Bases de datos MySQL, alta de servicios
                en servidores Windows Server 2012, configuración de Servicios FTP y Servidores
                SVN locales.
            </p>
        </div>
        <div class="row">
            <p class="col-6 col-auto">
                Abril 2021 - Al presente
            </p>
            <p class="col-6 col-auto">
                <b>Jefe de sección Desarrollo en Central de Atención Telefónica de Emergencias 911 PBA</b>
                Tareas referidas a análisis de requerimientos de los proyectos a desarrollar (incluyendo aplicativos web y apps en Android OS). Encargado de coordinar tareas entre los grupos de trabajo para los proyectos pendientes de desarrollo y mantenimiento de los ya productivos mediante metodología Kanban (Trello).
                Configuración de entornos de Testing y testeo funcional de los aplicativos.
                Configuración de IIS8 Windows Server
                2012.
                Mantenimiento de repositorios GIT utilizando el entorno Bitbucket. Realización de Back Up's de bases de datos MySQL 8 y Maria DB. Mantenimiento de Servidores productivos.
                Actualmente utilizando tecnologías HTML, CSS, Javascript, jQuery, Bootstrap y como lenguajes de Backend PHP. Manteniendo aplicativos desarrollados C#.
            </p>
        </div>  
    </div>
    
</section>