<section id="xp">
    <div class="container">
        <h3>Experiencia laboral</h3>
        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" routerLink="/nuevaexp" *ngIf="isLogged">
                Nueva Experiencia
            </button>
        </div>
        <table class="table">
            <tbody>
                <tr  *ngFor="let Experiencia of xp" >
                    <td class=".text-light"><b>{{Experiencia.periodoEx}}</b></td>
                    <td class=".text-light"><b>{{Experiencia.nombreEx}}</b><br />{{Experiencia.descripcionEx}}</td>
                    <td *ngIf="isLogged" class=".text-light"><button class="btn btn-outline-light" routerLink="/editexp/{{Experiencia.id}}"><i class="fa fa-pencil-square" aria-hidden="true"  ></i>Editar</button></td>
                    <td *ngIf="isLogged" class=".text-light"><button class="btn btn-outline-light" (click)="delete(Experiencia.id)"><i class="fa fa-trash" aria-hidden="true"></i>Borrar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</section>