<section id="projects">
    <div class="container">
        <h3>Proyectos</h3>
        <div class="row">
            <label><b>Portfolio Web</b></label>
            <p class="col-6 col-auto">
                Octubre 2022 - Marzo 2023
            </p>
            <div class="col-6 col-auto">
                <p>
                Portfolio web personal. 
                </p>
                <p>
                    <a href="#">Portfolio-MaximilianoPisano</a>
                </p>    
            </div>
        </div>
    </div>
</section>