<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #003d50">Iniciar Sesión</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                <div class="modal-body">
                <div class="formLogin">
                    <input id="nombreUsuario" name="nombreUsuario" type="text" placeholder="Ingrese usuario" [(ngModel)]="nombreUsuario" required>
                    <input id="password" name="password" type="password" placeholder="Contraseña" [(ngModel)]="password" required>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button submit" class="btn btn-primary" data-bs-dismiss="modal">Ingresar</button>
                </div>
            </form>
            
        </div>
    </div>
</div>