<section id="skills" class="row">
    <h3>Skills</h3>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <circle-progress
                [percent]="80"
                [radius]="100"
                [title]="'CSS'"
                [titleColor]="'#3d3d'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#6363FD'"
                [innerStrokeColor]="'#3939FF'"
                [animation]="true"
                [animationDuration]="300"
                
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [title]="'HTML'"
                [titleColor]="'#3d3d'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#6363FD'"
                [innerStrokeColor]="'#3939FF'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [title]="'JS'"
                [titleColor]="'#3d3d'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#6363FD'"
                [innerStrokeColor]="'#3939FF'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <circle-progress
                [percent]="95"
                [radius]="100"
                [title]="'PHP'"
                [titleColor]="'#3d3d'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#6363FD'"
                [innerStrokeColor]="'#3939FF'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-12  col-sm-6 col-md-3">
            <circle-progress
                [percent]="70"
                [radius]="100"
                [title]="'Java'"
                [titleColor]="'#3d3d'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#6363FD'"
                [innerStrokeColor]="'#3939FF'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [title]="'C#'"
                [titleColor]="'#3d3d'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#6363FD'"
                [innerStrokeColor]="'#3939FF'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>  
        <div class="col-12 col-sm-6 col-md-3">
            <circle-progress
                [percent]="60"
                [radius]="100"
                [title]="'Win Server'"
                [titleColor]="'#3d3d'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#6363FD'"
                [innerStrokeColor]="'#3939FF'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <circle-progress
                [percent]="95"
                [radius]="100"
                [title]="'MySQL'"
                [titleColor]="'#3d3d'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#6363FD'"
                [innerStrokeColor]="'#3939FF'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <circle-progress
                [percent]="70"
                [radius]="100"
                [title]="'GitHub'"
                [titleColor]="'#3d3d'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#6363FD'"
                [innerStrokeColor]="'#3939FF'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <circle-progress
                [percent]="100"
                [radius]="100"
                [title]="'T.Colaborativo'"
                [titleColor]="'#3d3d'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#6363FD'"
                [innerStrokeColor]="'#3939FF'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div> 
        <div class="col-12 col-sm-6 col-md-3">
            <circle-progress
                [percent]="65"
                [radius]="100"
                [title]="'Inglés'"
                [titleColor]="'#3d3d'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#6363FD'"
                [innerStrokeColor]="'#3939FF'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>        
    </div>
</section>